* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    background-color: rgb(46, 46, 46);
    color: white;
    height: 100%;
}

body {
    width: 70%;
    margin: 0 15%;
}

.content-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.library,
.new-book{
    width: 100%;
}

.library, th, td {
    background-color: white;
    color: black;
    border-collapse: collapse;
    margin-bottom: auto;
}

th, td {
    padding: 6px 12px;
        border: solid black 1px;
}

td:not(:nth-child(3)) {
    white-space: nowrap;
}

td:not(:last-child){
    border-right: none;
}
    
th {
    background-color: rgb(107, 107, 107);
    color: white;
}

tr:nth-child(odd) td {
  background-color: rgb(218, 217, 217);
}

.new-book {
    padding: 12px;
    font-size: 1.2rem;
    transition-duration: 0.1s;
    position: fixed;
    bottom: 0;
    width: 70%;
}

.new-book:hover {
    background-color: gray;
    color: white;
}

dialog {
    margin: auto;
    padding: 50px;
}

form > div {
    display: flex;
    justify-content: space-around;
    margin: 40px;
    gap: 32px;
}

.field-label-wrapper {
    position: relative;
}

form > div:nth-child(3),
 form label{
    display: block;
}


label {
    transition: all 0.2s ease;
    position: absolute;
    top: 6px;
    left: 6px;
    opacity: 0.8;
    pointer-events: none;
}

form>div:not(:last-child) input:not(:placeholder-shown) + label,
form>div:not(:last-child) input:focus + label,
textarea:not(:placeholder-shown) + label,
textarea:focus + label
{
    transform: translateY(-150%) scale(0.9);
}

form>div:not(:last-child) input,
form textarea{
    padding: 6px;
}


form {
    display: flex;
    flex-direction: column;
}

form>div:last-child {
    align-self: center;
}

dialog input[type="submit"],
dialog input[type="button"]{
    padding: 12px;
}

textarea {
    width: 100%;
    height: 80px;
}

.delete {
    height: 26px;
    width: 26px;
    border-radius: 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
    text-align: center;
}

.delete:hover,
.read-change:hover{
    background-color: gray;
    color: white;
}

.read-change {
    padding: 6px;
    border-radius: 12px;
    border: 1px solid gray;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
    text-align: center;
}

::backdrop {
    background-color: black;
    opacity: 0.5;
}
