* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: rgb(107, 107, 107);
    --secondary-color: rgb(218, 217, 217);
    --tertiary-color: #434343;
}

html,body {
    background-color: rgb(34, 34, 34);
    color: white;
    height: 100%;
}

body {
    width: 70%;
    margin: 0 15%;
    background-color: var(--tertiary-color);
}

.content-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.library,
.new-book{
    width: 100%;
}

.library, th, td {
    background-color: white;
    color: black;
    border-collapse: collapse;
    margin-bottom: auto;
}

th, td {
    padding: 6px 12px;
    border: none;
}

td:not(:nth-child(3)) {
    white-space: nowrap;
}

td:not(:last-child){
    border-right: none;
}
    
th {
    background-color: var(--primary-color);
    color: white;
}

tr:nth-child(odd) td {
  background-color: var(--secondary-color);
}

.new-book {
    padding: 12px;
    font-size: 1.2rem;
    background-color: white;
    transition: all 0.3s ease;
    position: fixed;
    bottom: 0;
    width: 70%;
}

.new-book:hover {
    background-color: var(--tertiary-colors);
    color: white;
}

dialog {
    margin: auto;
    border: none;
    border-radius: 12px;
}

form {
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin: 42px;
    gap: 20px;
    border: 2px solid gray;
    border-radius: 12px;
    justify-content: center;
}

form>.title {
    font-size: 3rem;
    margin-bottom: 22px;
    text-align: center;
}

form hr {
    border-top: 2px solid gray;
    border-radius: 12px;
    margin: 12px auto;
    width: 90%;
}

form > div {
    display: flex;
    justify-content: space-around;
    padding: 12px;
    gap: 32px;
}

.field-label-wrapper {
    position: relative;
}

form > div:nth-of-type(3),
 form label{
    display: block;
    width: 100%;
}

form> div:last-child{
    width: 100%;
}

label {
    transition: all 0.2s ease;
    position: absolute;
    top: 6px;
    left: 6px;
    opacity: 0.8;
    pointer-events: none;
}

.field-label-wrapper input:not(:placeholder-shown) + label,
.field-label-wrapper input:focus + label,
textarea:not(:placeholder-shown) + label,
textarea:focus + label
{
    transform: translateY(-150%) scale(1);
}

.field-label-wrapper input,
.field-label-wrapper textarea{
    padding: 6px;
    border-radius: 6px;
    appearance: none;
    border: 2px solid gray;
    transition: all 0.1s ease;
}

.field-label-wrapper input:user-invalid + label,
.field-label-wrapper textarea:user-invalid + label,
.field-label-wrapper input:user-invalid,
.field-label-wrapper:user-invalid {
    color: rgb(192, 6, 6);
    border-color: rgb(192, 6, 6);
}

.field-label-wrapper input:user-valid + label,
.field-label-wrapper textarea:user-valid + label,
.field-label-wrapper input:user-valid,
.field-label-wrapper textarea:user-valid {
    color: rgba(3, 155, 3, 0.9);
    border-color: rgba(3, 155, 3, 0.9);
}

.field-label-wrapper input:focus + label,
.field-label-wrapper>textarea:focus + label,
.field-label-wrapper>input:focus,
.field-label-wrapper>textarea:focus
{
    color: black;
}

form>div:last-child {
    align-self: center;
    margin: 0;
    padding: 0;
    place-content: center;
}

dialog input[type="submit"],
dialog input[type="button"]{
    padding: 16px 22px;
    background-image: linear-gradient(to top, #434343, #292929);
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

dialog input[type="submit"]:hover,
dialog input[type="button"]:hover{
    background-image: linear-gradient(to top, #292929, var(--tertiary-color) );
    opacity: 0.9;
}

.field-label-wrapper textarea {
    width: 100%;
    height: 80px;
}

.delete {
    height: 26px;
    width: 26px;
    border-radius: 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
    text-align: center;
}

.delete:hover,
.read-change:hover{
    background-color: gray;
    color: white;
}

.read-change {
    padding: 6px;
    border-radius: 12px;
    border: 1px solid gray;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease;
    text-align: center;
}

::backdrop {
    background-color: black;
    opacity: 0.5;
}
